@font-face {
	font-family: "Exo2-Medium";
	src: url("../fonts/Exo2-Medium.ttf");
}
@font-face {
	font-family: "Exo2-MediumItalic";
	src: url("../fonts/Exo2-MediumItalic.ttf");
}
@font-face {
	font-family: "Exo2-Bold";
	src: url("../fonts/Exo2-Bold.ttf");
}
@font-face {
	font-family: "Exo2-BoldItalic";
	src: url("../fonts/Exo2-BoldItalic.ttf");

}
@font-face {
    font-family: "Determination Mono(RUS BY LYAJK";  
    src: url("Determination\ Mono.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
@font-face {
        font-family: "Monster Friend Fore";  
        src: url("MonsterFriendBack.otf") format("opentype"); 
        font-style: normal; 
        font-weight: normal;
}
* {
    margin: 0;
    padding: 0;
}
body {
    /* Location of the image */
background-image: url(homescreen.png);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: #000 ;

}
#block-body {
    width: 1035px;
    margin: 5px auto;
    height: auto;
}
header {
    width: 1035px; 
    height: 80px;
    background-color: rgb(0, 0, 0);
    margin: auto;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
 }
    .mod_new {
        position: relative;
        z-index: 500;
        opacity: 0;
        font-size: 50px;
        animation: text2 6s 1;
    }
        
    .img_ruins {
        left: 0px;
        z-index: 0;
        position: absolute;
        opacity: 0;
        margin: auto;
        max-width:1035px;
        max-height:800px;
        margin-top: 0px;
         width: auto;
         height: auto; 
         animation: ruins 6s 1;
    }
    .img_ruins2 {
        position: absolute;
        z-index: 1;
        margin-top: -140px;
        max-width:1035px;
        max-height:800px;
        left: 0px;
         width: auto;
         height: auto; 
         animation: ruins2 8s 1;
    }
    .mod_new1 {
        position: relative;
        z-index: 501;
        opacity: 0;
        animation: text 6s 1;
        position: relative;
        background: #FFFF;
    }

    @keyframes ruins2 {
        0% {

            opacity: 0;
        }
        90% {
            margin-top: -100px;
              opacity: 0;
          }
        100% {
            margin-top: -140px;
              opacity: 1;
          }
    }
    @-webkit-keyframes ruins {
        0%{

            opacity: 0;
        }
        15%{
            margin-top: 100px;
            opacity: 0;
        }
        30%{
            margin-top: 100px;
            opacity: 0;
        }
        45%{
            margin-top: 0px;
            opacity: 1;
        }
        87%{
            opacity: 1;
        }
        100%{
            margin-top: 0px;
            opacity: 0;
        
        }
    }
    @-webkit-keyframes text2 {
        0%{
            opacity: 0;
        }
        15%{
            opacity: 0;
        }
        30%{
            opacity: 0;
        }
        45%{
            opacity: 1;
        }
        60%{
            font-size: 70px;
        }
        80%{
            opacity: 1;
            letter-spacing: 0px;
        }
        87%{
            opacity: 1;
            letter-spacing: 0px;
        }
        100%{
            opacity: 0;
        }
    }
    @-webkit-keyframes text{
        0%{
            transform: translateY(-80px);
            opacity: 1;
            margin-bottom: -130px;
        }
        15%{
            letter-spacing: 2px;
            margin-bottom: -130px;
        }
        30%{
            letter-spacing: 1px;
            margin-bottom: -130px;
        }
        45%{
            letter-spacing: 0px;
            margin-bottom: -90px;
        }
        60%{
            letter-spacing: 0px;
            margin-bottom: -90px;
        }
        80%{
            opacity: 1;
            letter-spacing: 0px;
        }
        87%{
            opacity: 1;
            letter-spacing: 0px;
        }
        100%{
            transform: translateY(-80px);
            opacity: 0;
            margin-bottom: -90px;
        }
    }
    .element2 {
    width: 1035px;
    height: 800px;
    margin: auto;
    background: rgb(255, 255, 255);
    font-size: 50px;
    font-family: "Determination Mono(RUS BY LYAJK";
    text-align: center;
    }
 .logo {
    position: relative;
    z-index: 9999;
     width: 200px;
     float: left;
     height: 80px;
 }
 .logo a {
     display: block;
     margin-left: 20px;
     margin-top: 15px;
     font-family:  "Determination Mono(RUS BY LYAJK", Regular;
     font-size: 48px;
     color:  white;
     text-decoration: none;
     cursor: pointer;
 }
 .logo a:hover {
    transition: all 0.09s ease-out;
    color: #e7a8a8;
    font-size: 49px;
    margin-top: 14px;
    margin-left: 19px;
 }
 .logo p {
     margin-left: 15px;
     margin-top: 0px;
     margin-bottom: 5px;
     font-family:  "Determination Mono(RUS BY LYAJK", Regular;
     font-size: 15px;
     color: white;
}
.top-menu {
    position: relative;
    z-index: 9999;
    width: 685px;
    height: 80px;
    float: right;
}
.top-menu ul li {
    z-index: 9999;
    list-style: none;
    float: left;
    text-align: center;
}
.top-menu ul li a {
    z-index: 9999;
    display: block;
    width: 171px;
    text-decoration: none;
    font-family:  "Determination Mono(RUS BY LYAJK", Regular;
    font-size: 30px;
    color: white;
    height: 55px;
    padding-top: 25px;
    cursor: pointer;
}
.top-menu ul li a:hover {
    z-index: 9999;
    transition: all 0.09s ease;
    font-size: 32px;
    background: #dc7474;
}
.top-menu ul li a:active {
    z-index: 9999;
    transition: all 0.09s ease-out;
    background: #d15151;
}
.logo a:active {
    z-index: 9999;
    transition: all 0.09s ease-out;
    color: #d15151;
    box-shadow: 0 0 25px #d1515198;
}
.downl {
    text-transform: uppercase;
    display: block;
    margin: auto;
    top: 520px;
    position:relative;
    z-index: 506;
    font-family: "Determination Mono(RUS BY LYAJK";
    text-decoration: none !important;
    background-color: #dc7474 !important;
    color: #ffffff !important;
    border: 0px solid #d15151 !important;
    border-radius: 100px !important;
    font-size: 44px !important;
    padding: 20px 30px !important; 
    transition: all 0.4s ease !important;
    animation: downl 8s 1;
  }
  
  .downl:hover {
    box-shadow: 0 0 25px #d1515198;
    text-decoration: none !important; 
    background-color: #d15151 !important;
    color: #ffeded !important;
    border-color: #d15151 !important;
  }
.underbox {
    margin-bottom: -60px;
    top: -60px;
    font-size: 100px;
    position:relative;
    z-index: 507;
    animation: underbox 8s 1;
  }
  @keyframes downl {
      0%{
          opacity: 0;
          top: 450px;
      }
    90%{
        opacity: 0;
          top: 450px;
      }
      100%{
        opacity: 1;
      }
  }
  @keyframes underbox {
    0% {
        opacity: 0;
          top: -100px;
    }
    90% {
        margin-bottom: -60px;
          opacity: 0;
          top: -100px;
      }
    100% {
          opacity: 1;
      }

  }
  @media screen and (max-width: 768px) {
    header {
        width: 768px; 
        height: 150px;
        background-color: rgb(0, 0, 0);
        margin: auto;
        -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
                box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    }
    .element2 {
        width: 768px;
        height: 1600px;
        margin: auto;
        background: rgb(255, 255, 255);
        font-size: 50px;
        font-family: "Determination Mono(RUS BY LYAJK";
        text-align: center;
        }
        .img_ruins2 {
            animation: ruins2 1s 1;
            top: 200px;
            max-width:6000px;
            max-height:1600px;
            left: -640px;
        }
        nav {
                border-bottom: 0;
            }
        nav ul {
                display: none;
                height: auto;
            }
        .downl {
            font-size: 80px !important;
            top: 1000px;
            animation: downl 1s 1;
        }
        .img_ruins {
            display: none;
        }
        @keyframes ruins2 {
            0% {
                top: 600px;
            }
        }
        @keyframes downl{
        0%{
            opacity: 0;
            top: 600px;
        }
        100%{
          opacity: 1;
        }
    }
    .title {
        margin-left: 200px;
        font-size: 80px;
    }
    .underbox {
        font-size: 150px;
        top: -50px;
        animation: underbox 1s 1;
    }
        @keyframes underbox {
            0% {
                margin-bottom: -60px;
                  opacity: 0;
                  top: 100px;
              }
            100% {
                  opacity: 1;
              }
        
          }
          .mod_new1 {
            display: none;
          }
          .mod_new {
              display: none;
          }
        }